body {
    background-image: url(../media/back-ground_image.png);
}

#btq {
    font-size: 70px;
    font-family: "animeace";
    text-align: center;
    color: orange !important;
}

.test {
    overflow: hidden;
    
}

.card-img-top {
    display: block;
    margin: 0px auto;
    height: 220px;
    width: 80% !important;
    object-fit: contain;

}

.card-img-top:hover {
    transform: scale(1.5);
    /* opacity: .8; */
    transition: .5s ease;
}






