body { font-family: sans-serif;
background-image:url("../media/DBS Broly.jpg");
}

.scene--cardM1 {
  width: 510px;
  height: 340px;
   margin: 40px 0;
  perspective: 600px;
   

}
.scene--cardM2 {
  width: 510px;
  height: 340px;
  margin: 40px 0;
  perspective: 600px;
  

}


.scene--cardM3 {
  width: 510px;
  height: 340px;
  margin: 40px 0;
  perspective: 600px;
  

}
.scene--cardM4 {
  width: 486px;
  height: 300px;
  margin: 40px 0;
  perspective: 600px;
  
}

.cardM {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: auto;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  
  
  
}

.cardM.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.cardM__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
  border-radius: 5%;
 
}

.bg1 {
  background-image: url("../media/Storyevengokuenfant3.jpg");
  background-size: cover ;
  border-radius: 2%;
  
}
.bg2 {
  background-image: url("../Media films/Image DBZ  FUSIONS.jpg");
  background-size: cover ;
  
}
.bg3{
  background-image: url("../Media films/DRAGON.BALL gt 100.jpg");
  background-size: cover;
}
.bg4{
  background-image: url("../Media films/dragon-ball-super-super-hero-to-release-in-june-in-japan-1200x676.jpg");
  background-size: cover;
}
  

.cardM__face--back {
  transform: rotateY(180deg);
  display:inline ;
}  

.cardM__face--back1{
  background-color: orangered;
}
.cardM__face--back2{
  background-color: orangered;
}

.cardM__face--back3{
  background-color: orangered;
}


.cardM__face--back4{
  background-color: orangered;
}
.cardM__face img {
  vertical-align: initial;
}

 p {
  text-align: center;
  margin-top: 2% !important;

 
 } 


 .cardM__face h2 {
 color:black !important;
 text-align: center !important;
 margin-left: auto;
 margin-right: auto;
}

.cg2{
  background-color: black;
}
.cg3{

  background-color: black;
}

.ladiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}






 