body { font-family: sans-serif; }

.scene--card1 {
  width: 530px;
  height: 380px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
  margin-left: 20%;

}
.scene--card2 {
  width: 900px;
  height: 700px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;

}


.scene--card3 {
  width: 900px;
  height: 600px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;

}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  
  
  
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
 
}

.bg1 {
  background-image: url("../La\ Légende\ de\ Shenron.jpg ");
  background-size: cover ;
  
}
.bg2 {
  background-image: url("..//Dragon\ Ball\ Z\ Fusions.jpg");
  background-size: cover ;
  
}
.bg3{
  background-image: url("../Dragon\ ball\ GT.jpg");
  background-size: cover;
}
  

.card__face--back {
  background:black;
  transform: rotateY(180deg);
 
}

h2{
 color:black ;
}

.cg2{
  background-color: black;
}
.cg3{

  background-color: black;
}








 