footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(11, 9, 11, 0.9);
}
footer *{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    align-items: center;
}
    
#center{
    display: flex;
    justify-content: space-evenly;
}