footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(91, 73, 88,0.8);
}
footer *{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    align-items: center;
}
    
#center{
    display: flex;
    justify-content: space-evenly;
}