body{
    margin: 0;
    overflow-x:hidden ;
    background-image:url(../media/2feb97087d41615ba57ff34f707e796d.jpg );
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 12, 12, 0.9);
    background-position: 0 50%;
    height: 120px;
    text-decoration: none;
}

#div1 a{
    text-decoration: none ;
    color: white ;
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);


}
#div1 a h2{
    font-size: 90px;
    font-family: "animeace";

}

div ul {
    display: none;

}
div ul li{
    display: block;

}


div, #div1>a{
    display: flex;
    align-items: center;
    
}
@font-face {
    font-family: "animeace";
    src: url("../font/Saiyan-Sans.ttf");
}



img{
    margin: 20px
    
}

#titre{
    margin: 5px;
    color: rgb(247, 153, 12); 
    

}

#tire{
    margin: 5px;
    color: rgb(255, 0, 0); 

}

footer .textefooter a{
    color: beige;
    margin: 20px;

}

#insta{
    margin-bottom: 15px;
}

#menuCo li{
    margin: 10px;
}

nav{
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(11, 9, 11, 0.9);
}