body { font-family: sans-serif; }

.scene {
  width: 960px;
  height: 600px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;

  color: white;
  text-align: center;
  font-weight: bold;
  
  backface-visibility: hidden;
}

.card__face--front0 {
  background: url(dbfond3.jpg);
}
.card__face--front1 {
  background: url(Dbzfond3.png);
}
.card__face--front2 {
  background: url(dbsfond.jpg);
}
.card__face--front3 {
  background: url(dbgtfond3.png);
}

.card__face--back {
  background: orange;
  transform: rotateY(180deg);
}

.db{}

/* DBZ */

